CompileFlags:
  Add:
    - -std=c++23
    - -IC:/Users/schm3/OneDrive/Desktop/dronePatrol/include
    - -IC:/Users/schm3/OneDrive/Desktop/dronePatrol/deps/include
    - -IC:/Users/schm3/OneDrive/Desktop/dronePatrol/build/vcpkg_installed/x64-windows/include
    - -IC:/Users/schm3/OneDrive/Desktop/dronePatrol/build/vcpkg_installed/x64-windows/include/opencv4
  Remove:
    - -std=c++14
    - -std=c++17
    - /std:c++14
    - /std:c++17
